<div class="jumbotron">
    <h1>
        <i class="fa fa-warning"></i>
        MUST SMELL
    </h1>
    <p>
       nabutang na nako tnan CSS &amp; JS template related files, nag add kog angularJS ug ng-init file, paki visit nlng ko sa 

        <a href="http://webapplayers.com/inspinia_admin-v2.9.3/index.html" target="_blank"> TEMPLATE DEMO </a> for template reference

        <br />
</p>

</div>