.displayRate {
  margin: -10px auto;
  h1 {
    font-size: 15px;
    color: var(--ion-color-primary);
  }
  span {
    padding-right: 10px;
  }
  span:last-child {
    padding-left: 10px;
    color: grey;
    font-size: 14px;
  }
}
