<ion-content [fullscreen]="true">
  <div class="main-details" *ngIf="data != null">
    <div class="fixed-header">
      <a (click)="logout()" class="back-button">
        Log out
      </a>
    </div>

    <img
      class="profileImage"
      src="{{url}}/Employer/RetrieveIMG?id={{data.recNo}}"
      onerror="this.onerror = null; this.src = '../../assets/bg.jpg'"
    />

    <h3>
      {{data.Firstname}} {{data.Lastname}}
    </h3>
  </div>

  <ion-list *ngIf="data != null">
    <ion-list-header>
      <ion-text>
        Overview
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="location-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h4>
          {{data.Address != null ? data.Address : "No Address"}}
        </h4>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start"
        ><ion-icon name="gift-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h4>
          {{data.Birthdate != null ? data.Birthdate : "No About"}}
        </h4>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start"
        ><ion-icon name="call-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h4>
          {{data.ContactNo != null ? data.ContactNo : "No Contact Details"}}
        </h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
